header {
    width: 100vw;
    height: 5rem;
    padding: 1.25rem 2rem;
    display: flex;
    justify-content: space-between;
    
    & img {
        height: 2rem;
    }

    & .navbar {
        display: flex;   
        gap: 1rem;
        align-items: center;

        & li:hover {
            color: var(--brand-color);
            cursor: pointer;
        }

        & #search:hover {
            filter: brightness(0) saturate(100%) invert(27%) sepia(51%) sepia(78%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
            cursor: pointer;
        }
    }
}