section.about {
    background-color: var(--surface-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    & .main {
        display: flex;
        gap: 2rem;
        max-width: 37rem;

        & img {
            width: 11rem;
            height: 11rem;
        }

        & .frame {
        display: grid;
        gap: .5rem;
        text-align: left;
    }
    }

    & .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 17.5rem;
        text-align: left;

        & .information {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }
    
}